# Prisma / Database (local dev - SQLite)
DATABASE_URL="file:./prisma/dev.db"

# AI
GOOGLE_API_KEY="YOUR_GOOGLE_API_KEY"
# GOOGLE_GENERATIVE_AI_API_KEY="YOUR_GOOGLE_API_KEY"

# Instagram Graph API (Meta for Developers'dan alınan kullanıcı access token)
# DM kutusu için: instagram_business_manage_messages
# Yorumcaya özel mesaj için: instagram_business_manage_comments (veya instagram_manage_comments)
IG_ACCESS_TOKEN="IG_ACCESS_TOKEN=IGAASqZCvIfvmZABZAFppOE9lT1VlT0xBTlRrMUhCbkZAvY2VadDNha2NrVzNiWXJqbDFSaDliWWVyemlMSzh4cDJqVWxLSWhJb1BlUEpPTzFFbzRxQ3g5RDR2TG5SS2hEdllPMnFYSzBMLVFfbDVZAWlctQy1UaEx6RVhGM25pVTRYTQZDZD

